body {
  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px 2fr 1fr 1.5fr;
  grid-template-areas:
    "header header"
    "photo otherphoto"
    "photo thirdphoto"
    "footer footer";
}

* {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
  background-color: black;
  grid-area: header;
  width: 100vw;
}

.loop {
  grid-area: header;
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  right: 1rem;
}

.menu-size {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
}

.menu-list {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  background-color: rgba(00, 00, 00, 0.9);
  color: white;
  padding: 0.5rem;
  left: 0px;
  line-height: 30pt;
  top: 24px;
  z-index: 1;
}

li {
  margin-left: 2.5rem;
}

#menu-toggle:checked ~ .menu-list {
  display: block;
}

#menu-toggle {
  display: none;
}

.kenya {
  grid-area: photo;
  height: 102vh;
  width: 67vw;
}

.kayaking {
  grid-area: otherphoto;
  height: 68vh;
  width: 33vw;
}

.netherlands {
  grid-area: thirdphoto;
  height: 34vh;
  width: 33vw;
}

.globes {
  background-color: dimgray;
  grid-area: footer;
  height: 50vh;
  width: 100vw;
}

.header {
  width: 400px;
  position: absolute;
  right: 250px;
  top: 150px;
}
.rectangle {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 120px;
  right: 235px;
  top: 130px;
  opacity: 50%;
}
.logo {
  width: 100px;
  position: absolute;
  right: 670px;
  top: 140px;
}
.search {
  width: 35px;
  position: absolute;
  right: 10px;
}
.hamburger {
  width: 60px;
  position: absolute;
  left: 10px;
}

.logo,
.header{
  animation: slide-in 2000ms;
  animation-delay: 500ms;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.rectangle {
  animation: slide-in 2000ms;
  animation-delay: 500ms;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 0.5;
  }
}